.svg-icon.search-icon {
  display: inline-block;
  // width: 2rem;
  // height: 2rem;

  /* On hover: blue strokes */
  &:focus,
  &:hover {
    .search-path {
      stroke: #299ecc;
    }
  }

  /* On click: thicker black strokes  */
  &:active {
    .search-path {
      stroke: #111516;
      stroke-width: 2px;
    }
  }
}

.footer {
  &-social {
    display: flex;
    justify-content: space-between;
    width: 8.5rem;
  }

  .divider {
    border: 1px solid black;
    width: 50%;
  }
  &-link-container {
    list-style-type: none;
    width: 14rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
  }

  &-link:not(:last-child) {
    margin-right: 1rem;
  }
}
