.campaign {
  &-header {
    background-image: url("../assets/campaign-header-01.png");
    background-repeat: no-repeat;
    background-size: cover;

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 18em;
      margin-left: 2.5rem;

      h2 {
        font-size: 4rem;
      }
    }
  }

  &-progress {
    border-radius: 0 !important;
    height: 0.5em !important;
  }

  &-money {
    float: right;
    margin-right: 2.5rem;
  }

  &-info-container {
    display: flex;
    justify-content: space-evenly;

    .owner-image {
      border-radius: 15px;
      width: 25px;
      height: 25px;
    }
  }

  &-subtitle {
    font-size: small;
    color: #7c7c7c;
  }

  &-text {
    font-size: small;
    color: #2c74f6;
  }
  &-details {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    &-content {
      margin: auto;
      width: 85%;
    }

    &-text {
      text-align: justify;
      font-size: smaller;
    }
  }
  &-rewards {
    border-radius: 10px !important;

    &-header {
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      height: 8rem;
    }

    &-title {
      text-align: right;
      position: relative;
      top: 1.5em;
      font-size: xxx-large;
      right: 0.5em;
    }

    &-price {
      color: white;
      font-size: medium;
      background-color: #009fe3;
      border-radius: 10px;
      padding: 0.2rem;
    }

    &-followers {
      color: #009fe3;
      font-size: xx-small;
      float: right;
    }
  }

  &-rewards:first-child {
    margin-top: 1rem;
  }

  &-rewards:not(:last-child) {
    margin-bottom: 1rem;
  }

  &-security {
    float: right;
    font-size: smaller;
    text-decoration: none;
  }
}
